<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BaseAuthUrl" value="https://auth.smartdriving.io/" />
    <add key="BaseServiceUrl" value="http://msk-app-01.corp.smartdriving.io:12345/" />
    <add key="MonikEndpoint" value="[host]" />
    <add key="MonikInstanceName" value="[instance]" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>